
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="./index" routerLinkActive="active">
      <img src="assets/ang.jfif" style="width:90px;">
    </a>
    <!-- <nav class="nabar">
      <input class="form-control" type="text" name="search" [(ngModel)]="filter"  >
    </nav> -->
    <ul class="navbar-nav">
      <li >
        <a routerLink="./user" routerLinkActive="active" >ALL USERS</a>
      </li>
      <li >
        <a routerLink="./search" routerLinkActive="active">Search</a>
      </li>
      <li >
        <a routerLink="./add-users" routerLinkActive="active">Add User</a>
      </li>
    </ul>
  </nav>
<!--   
<app-user></app-user>   -->
<router-outlet></router-outlet>
