<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body  class="body-class">
    <div appCustomDir="customDir"></div>
    <div></div>
    <input type="text" name="enteredItem" style="color: black" [(ngModel)]="usrId"/>
    <button class="btn btn-primary" style="background-color: burlywood" rounded="true" (click)=fun()>Search</button>
    <div></div>
<div class="col-md-10 col-md-offset-1" class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>EMAIL ADDRESS</td>
            <td>PHONE NUMBER</td>
            <td>JOB TYPE</td>
          </tr>
    </thead>
          <tr *ngIf="usrId">
              <td>{{ SelectedUsers.id}}</td>
              <td>{{ SelectedUsers.name}}</td>
              <td>{{ SelectedUsers.email_address}}</td>
              <td>{{ SelectedUsers.phone_number}}</td>
              <td>{{ SelectedUsers.job_type}}</td>
          </tr>
</table>
</div>
</body>